<mat-card>
  <mat-card-title><button mat-mini-fab [color]="post.isRead ? '': 'primary'" (click)="open()"></button> {{post.data.author}}</mat-card-title>
  <mat-card-content (click)="open()">
    <div>
      <img mat-card-image [src]="post.data.thumbnail">
    </div>
    <div>
      {{post.data.title | cutText}}
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button (click)="remove()">
      <mat-icon>close</mat-icon>
      Dismiss post
    </button>
  </mat-card-actions>
</mat-card>